SECRET_KEY_BASE=change_me_generate_with_openssl_rand_hex_64
ACTIVE_RECORD_ENCRYPTION_PRIMARY_KEY=
ACTIVE_RECORD_ENCRYPTION_DETERMINISTIC_KEY=
ACTIVE_RECORD_ENCRYPTION_KEY_DERIVATION_SALT=

CHATWOOT_RAILS_HOST_PORT=3003
CHATWOOT_POSTGRES_HOST_PORT=5439
EVOLUTION_API_HOST_PORT=8082
EVOLUTION_MANAGER_HOST_PORT=3010
WIDGET_TEST_HOST_PORT=3333

FRONTEND_URL=http://localhost:3000
FORCE_SSL=false
ENABLE_ACCOUNT_SIGNUP=true

CHATWOOT_INTERNAL_BASE_URL=http://rails:3000
EVOLUTION_CHATWOOT_IMPORT_MESSAGES_DAYS=365

REDIS_PASSWORD=chatwoot_redis_secret
REDIS_URL=redis://:chatwoot_redis_secret@redis:6379

POSTGRES_HOST=postgres
POSTGRES_USERNAME=postgres
POSTGRES_PASSWORD=chatwoot_db_secret
POSTGRES_DATABASE=chatwoot
RAILS_ENV=production
RAILS_MAX_THREADS=5

MAILER_SENDER_EMAIL=Chatwoot <noreply@localhost>
SMTP_ADDRESS=
SMTP_PORT=587
SMTP_DOMAIN=localhost
SMTP_AUTHENTICATION=
SMTP_ENABLE_STARTTLS_AUTO=true
SMTP_USERNAME=
SMTP_PASSWORD=

ACTIVE_STORAGE_SERVICE=local
RAILS_LOG_TO_STDOUT=true
LOG_LEVEL=info

ENABLE_RACK_ATTACK=false

EVOLUTION_POSTGRES_DATABASE=evolution
EVOLUTION_POSTGRES_USERNAME=evolution
EVOLUTION_POSTGRES_PASSWORD=evolution_db_secret

RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_HOST_PORT=5672
RABBITMQ_MANAGEMENT_HOST_PORT=15672
RABBITMQ_URI=amqp://guest:guest@rabbitmq:5672
